*, :after, :before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html,body,p,h1,h2,h3,h4,h4,h5,h6,a,small,ul{
    margin: 0;
    padding: 0;
}
body{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
img{
    max-width: 100%;
    height: auto;
}

/* Sections */
#header{
    background: #205081;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
}
#banner{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
#main{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

/* Columns - Default: Mobile */
.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding-right: 20px;
    width: 100%;
}

/* Top Navigation */
.nav {
    list-style: none;
    margin-bottom: 20px;
    overflow: auto;
}
.topNav li{
    float: left;
    text-align: center;
    display: block;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px 20px;
    margin: 10px 5px;
    background: #f5f5f5;
}
.topNav li a{
    text-decoration: none;
    color: #333;
}

/* Side Navigation */
.sideNav li{
    cursor: pointer;
    display: block;
    padding: 10px 20px;
    border-top: 1px solid #ccc;
}
.sideNav li:last-child{
    border-bottom: 1px solid #ccc;
}
.sideNav li a{
    text-decoration: none;
    font-size: small;
    font-weight: bold;
    color: #205081;
}

/* Toggle state */
.topActive{
    background: #fff !important;
}
.sideActive{
    background: #f5f5f5 !important;
}
.tab-hidden{
    display: none;
}
.tab-open{
    display: block;
}

/* Dektop/tablets */
@media (min-width: 768px) {
    #main{
      width: 750px;
    }
    .col-1{
      width: 40%;
    }
    .col-2 {
      width: 60%;
   }
}
@media (min-width: 992px) {
    #main{
        width: 970px;
    }
    .col-1{
        width: 33.33%;
    }
    .col-2 {
        width: 66.66%;
   }
   .topNav{
       border-bottom: 1px solid #ccc;
   }
   .topNav li{
        margin: 0;
        border: 0;
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
   }
   .topNav li.topActive a{
       border-bottom: 1px solid #fff;
   }
   .topNav li:first-child{
        border-radius: 6px 0 0;
    }
    .topNav li:last-child{
        border-right: 1px solid #ccc;
        border-radius: 0 6px 0 0;
    }
}
@media (min-width: 1200px) {
    #main{
        width: 1170px;
    }
    .col-1{
        width: 25%;
    }
    .col-2 {
        width: 75%;
    }
}

/* Font Styling */
h1,h2,h3,h4,h5,h5,h6,small,cite{
    color: #205081;
    margin-bottom: 15px;
}
#banner p{
    color: #707070;
    margin: 10px 0;
}
#content cite{
    display: block;
    font-weight: bold;
    font-style: normal;
}

#content p{
    line-height: 20px;
}
.sideNav cite{
    display: block;
    font-style: normal;
    color: #707070;
    margin-bottom: 0;
    padding: 5px 0;
    font-size: small;
}